*{margin: 0; padding: 0;}

.titulo{
    font-family: arial, helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(231, 231, 50, 0.919);
    text-shadow:0px 0px 5px rgba(255, 255, 255, 0.863);
}

#topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: gray;
}                

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu li {
    width: 150px;
    height: 50px;
    background-color: rgba(231, 231, 50, 0.919);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.menu li a {
    color: gray;
	text-decoration:none; 
	padding:5px;
	display:block;
}

.menu li a:hover{
    background:rgb(103, 102, 102);
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}
    